.btnGrid {
  display: grid;
  grid-template-columns: repeat(10, auto);
  grid-template-rows: repeat(10, auto);
  height: 100%;
}

.flex {
  display: flex;
  justify-content: center;
  margin: 4em 0em 4em 0em;
}

.userNotice {
  font-size: calc(100vw / 60);
  color: aliceblue;
  text-align: center;
  padding: 1em 0em 1em 0em;
  font-family: "PT Sans", sans-serif;
}

.title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: calc(100vw / 1.5);
  height: calc(100vw / 5.3);
  position: relative;
}

.background {
  background: rgb(199, 238, 250);
  display: flex;
  flex-flow: column;
  width: 100%;
  height: auto;
  /* overflow: scroll; */
  /* overflow-y: scroll; */
}

.choiceZero {
  z-index: 3;
}

.choiceOne {
  z-index: 3;
}

.choiceTwo {
  z-index: 3;
}

.choiceThree {
  z-index: 3;
}

.choiceFour {
  z-index: 3;
}

.choiceFive {
  z-index: 3;
}


/* MEADIA QUERIES */

@media screen and (max-width: 100vw / 10) {
  .grid {
    /* grid-template-columns: 7.14% 7.14% 7.14% 7.14% 7.14% 7.14% 7.14% 7.14% 7.14% 7.14% 7.14% 7.14% 7.14% 7.14% 7.14%;
    grid-template-rows: 5.5555% 5.5555% 5.5555% 5.5555% 5.5555% 5.5555% 5.5555% 5.5555% 5.5555% 5.5555% 5.5555% 5.5555% 5.5555% 5.5555% 5.5555% 5.5555% 5.5555% 5.5555%; */
    grid-template-columns: repeat(16, calc(100vw / 16));
    grid-template-rows: repeat(19, calc(100vw / 19));
  }
}
